.button-link {
    padding: 10px 5px;
    background: #fff;
    color: #000;
}

ul.button{
	list-style: none;
}

a.button{
background: #fff;
display: block;
color: #000;
height: 32px;
line-height: 32px;
margin-bottom: 1px;
text-decoration: none;
width: 300px;
font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: 100;
letter-spacing: 1px;
}


a:hover.button{
background:#eee;
}

.orange{
background:url(../gfx/ios-sun-orange-ico.png) no-repeat 5px 0px;
text-indent:45px;
display:block;
}
.black{
background:url(../gfx/ios-sun-black-ico.png) no-repeat 5px 0px;
text-indent:45px;
display:block;
}
.blue{
background:url(../gfx/ios-sun-blue-ico.png) no-repeat 5px 0px;
text-indent:45px;
display:block;
}
.white{
background:url(../gfx/sun_white-ico.png) no-repeat 5px 0px;
text-indent:45px;
display:block;
}
.black2{
background:url(../gfx/sun_black-ico.png) no-repeat 5px 0px;
text-indent:45px;
display:block;
}

body { 
	background-color:#000000;
}
#canvas {
  width: 640px ;
  margin-left: auto ;
  margin-right: auto ;
}

i.ico {display:inline-block; width:16px; height: 16px; vertical-align: text-bottom; margin-right: 3px; border:none;}
.ico.edit-offer, .context-menu-item.icon-edit-offer {background-image:url(../gfx/ios-sun-black-ico.png);}
.btn { font-size:11px; height: 14px; padding: 4px 6px; border: 1px solid transparent; margin:0px; background-image:none; border-radius: 3px 3px 3px 3px; display:block; color:#333; box-shadow:none; line-height:auto }
.btn-large { text-align: center; height: 58px; min-width: 60px; float: left; }
.btn-small { height: 14px; padding: 4px 4px; min-width: 70px;max-width: 140px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align: left;  }
